NEXT_PUBLIC_SUPABASE_URL=[https://petlcbqeovksumizkswt.supabase.co](https://petlcbqeovksumizkswt.supabase.co/)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBldGxjYnFlb3Zrc3VtaXprc3d0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MjM4MjEsImV4cCI6MjA5MjE5OTgyMX0.S9bsOt9kdfXDU3l6QXLVnHChMnAGcc4-ZgHRa2QcWwE
OPENAI_API_KEY=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
FIRECRAWL_API_KEY=fc-c4acad6ddf37439cbf9d894f7aaae28f
